table {
  width: 100%;
  background-color: #0c003d;
}
mat-expansion-panel-header:hover {
  background-color: #0c003d;
}
mat-paginator {
  background-color: #0c003d;
}
mat-expansion-panel-header {
  background-color: #0c003d;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
