.textBox{
   width:50%;

}
.mat-icon {
  width: 10%;
  height: 10%;
  font-size: 120%;
}
/*.pre {
  width: 200px;
  height: 176px;

  white-space: pre-wrap;
  word-wrap: break-word;
  float: left;
  margin-left: 10px;
  margin-top: 0;
  overflow-y: auto;
}*/
.text-content {
  white-space: pre-wrap;
}
